.carousel-item{
    height:50rem;
    background:#777;
    color: black;
    position:relative;

}
.container{
    position: absolute;
    bottom:0;
    left: 0;
    right:0;
    padding-bottom:5px;
    text-align: center;
    height: 300px; 
}
.overlay-image{
    position:absolute;
    bottom:0;
    left: 0px;;
    right: 0px;;
    top:0;
    background-position: center;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    
}